%h1
  ="#{@post.title}を編集する"
%p
=render 'form'
=link_to '削除する', country_place_post_path(@country, @place, @post), method: :delete, data: {confirm: '本当に削除しますか？'}
\/
=link_to "#{@post.title}に戻る", country_place_post_path(@country, @place, @post)
\/
=link_to 'トップに戻る', root_path
