%h1 Posts#edit
%p Edit post
=render 'form'
=link_to 'Delete', place_post_path(@place, @post), method: :delete, data: {confirm: '本当に削除しますか？'}
\/
=link_to 'Back to post page', place_post_path(@place, @post)
\/
=link_to 'Go to Place', place_path(@place)
