%h5
  =@place.name
%p
  =@post.title
  =@post.body
  -if @post.image_1.present?
    =image_tag @post.image_1_url(:thumb)
  -if @post.image_2.present?
    =image_tag @post.image_2_url(:thumb)
  -if @post.image_3.present?
    =image_tag @post.image_3_url(:thumb)


  %br
  =link_to '編集する', edit_country_place_post_path(@country, @place, @post)
  \/
  =link_to '削除する', country_place_post_path(@country, @place, @post), method: :delete, data: {confirm: '本当に削除しますか？'}
  %hr
  =link_to '投稿一覧に戻る', country_place_path(@country, @place)
  \/
  =link_to 'トップに戻る', root_path
