%h1
  ="#{@place.name}を編集する"
%p
=render 'form'
=link_to '削除する', country_place_path(@country, @place), method: :delete, data: {confirm: '本当に削除しますか？'}
\/
=link_to "#{@place.name}に戻る", country_place_path(@country, @place)
\/
=link_to 'トップに戻る', root_path
