%h1 Places#show
%p
  =@place.name
  =@place.country_id
  =@place.address
  =@place.telephone
  =@place.url
  -if @place.image.present?
    =image_tag @place.image_url(:thumb)
  =link_to 'Edit', edit_place_path(@place)
  =link_to 'Add new post', new_place_post_path(@place)
